<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gallifrey.todayapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="own"
        android:description="@string/title"
        android:icon="@drawable/ic_launcher_background"
        android:protectionLevel="normal" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodayApplication">
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".tablayout.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".gridview.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".listview.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:exported="false"
            android:theme="@style/Theme.TodayApplication.NoActionBar" />
        <activity
            android:name=".menu.PopupMenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ContextMenuActivity"
            android:exported="false" />
        <activity
            android:name=".menu.OptionsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".DialogActivity"
            android:exported="false" />
        <activity
            android:name=".ToggleSwitchActivity"
            android:exported="false" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".RelativeActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>